<div class="home">
  <h2>Home</h2>
  <!-- devcode: !production -->
  <div style="background:red;color:white;font-size:25px;text-align:center;">THIS IS DEV</div>
  <!-- endcode -->
  <p>
    This is a very simple angular application, using the marvel open api.
    <br />
    It is only used as a sample application for the <a href="https://github.com/jbuiss0n/grunt-template" target="_blank">grunt-template</a>
  </p>
  <p>
    <h2>Here is a deadpool, because deadpool.</h2>
    <img src="images/deadpool.png" alt="deadpool" />
  </p>
</div>